{% extends "_base.html" %}

{% block main %}
  <main class="section">
    <div class="container">
      <article class="content">
        <h2 class="title is-2">{{ front.title }}</h2>


        {% if front.eventbrite %}
        <iframe
          src="https://www.eventbrite.com/tickets-external?eid={{front.eventbrite}}&ref=etckt"
          frameborder="0"
          width="100%"
          height="248px"
          scrolling="auto">
        </iframe>
        {% endif %}

        {% if front.address %}
        <p id="content">
          <strong>Event location</strong>
          {{front.address}}
        </p>
        {% endif %}

        {% if front.humandate %}
        <p id="content">
          <strong>When:</strong>
          {{front.humandate}}, {{front.humantime}}
        </p>
        {% endif %}

        <h3 id="content">Event Information</h3>

          {{content | safe }}

          <p id="content">
            All participants are required to abide by our
              <strong><a href="../code-of-conduct.html">Code of Conduct</a></strong>.
          </p>

          {% if front.registration %}
          <h3 id="content">Registration</h3>
          <p id="content">
            Please register for this event using <a href={{front.registration}}>this short form</a>.
          </p>
          {% endif %}

        <h3 id="content">Materials</h3>
        <p id="content">
          We will be using a combination of materials from  <a href="http://www.datacarpentry.org/lessons/">Data Carpentry</a> and
          <a href="https://software-carpentry.org/lessons/">Software Carpentry</a>.
        </p>

        <h3 id="content">Setup</h3>
        <p id="content">
         This is a fully hands-on workshop. All participants will be working alongside the instructor creating reproducible
         research documents and writing interactive source code. You will need to bring your own laptop to the workshop
         (<strong>unless</strong> it has been arranged otherwise with the workshop hosts and the workshop will be run in a local computer lab).
         <br/><br/>
         If you are bringing laptop to the workshop, it should be running Mac OS X, Linux or Windows; have internet access and
         installed an up-to-date browser such as Firefox, Chrome or Internet Explorer.
        <br/><br/>
         We will be working on Stencila Cloud instance. However, if you would like to try out Stencila locally, you can install
         <a href="http://stenci.la/use/">Stencila Desktop</a> on your machine.
        </p>

        {% if front.notes %}
        <h3 id="content">Notes</h3>
        <p id="content">
          We will be using a <a href={{front.notes}}> collaborative note-taking document</a> to share links, bits of code and other information.
        </p>
        {% endif %}




      </article>

    </div>
  </main>
{% endblock %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    article {
      margin-bottom: 5em;
      padding-bottom: 2em;
      border-bottom: 1px solid #EEE;
    }
    article.content img {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
    #suggested {
      color: #777;
    }
    #discourse-comments {
      margin-top: 4em;
    }
  </style>
  <link rel="stylesheet" href="/css/prism.css"/>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="text/javascript" src="/js/prism.js"></script>
  <script type="text/javascript" src="/js/prism-bash.min.js"></script>
  <script type="text/javascript" src="/js/prism-json.min.js"></script>
  <script type="text/javascript" src="/js/prism-markdown.min.js"></script>
  <script type="text/javascript" src="/js/prism-mini.js"></script>
  <script type="text/javascript" src="/js/prism-python.min.js"></script>
  <script type="text/javascript" src="/js/prism-r.min.js"></script>
  <script type="text/javascript" src="/js/prism-sql.min.js"></script>


{% endblock %}
