{% extends "_base.html" %}

{% block main %}
<main class="main">
  <div class="columns">
    <div class="column">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
              <div class="section has-text-centered">
                <h1 class="title is-2">Community</h1>
                <p>
                  Stencila is a community-owned and community-driven open source project. Stencila users and contributors are at the core
                  of the software existence and its future. Community growth and engagement are our top priority. We are putting a lot of effort
                  to create inclusive and friendly environment for everyone who wants to use and develop Stencila.
                </p>
                <br/>
                <p>
                  On this page you can find out how to ask for help, share your knowledge and expertise, suggest new features (and report bugs!),
                  learn how to contribute and join the community discussions and events.
                </p>
              </div>
              <div class="image">
                <img src="/img/community-cover.jpg">
              </div>
          </div>
        </div>
      </section>

      <section id="contribute" class="section is-medium">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title is-2">Contribute</h1>
              <p>
                There are a number of <a href="http://stenci.la/contribute/">ways you can contribute to Stencila</a>.
                We welcome and encourage <b>all</b> contributions. There is a lot you can do and through contributing
                to Stencila you can gain more experience and learn new skills.

                <br/> <br/>
                We are doing our best to make it easy for contributors to work with Stencila. If you have any suggestions
                how to improve their experience and, in particular, if you have any ideas on supporting the new contributors,
                please <a mailto="community@stenci.la">get in touch</a>.
              </p>
            </div>
            <div class="column">
              <img src="/img/community-contribute.png">
            </div>
          </div>
        </div>
      </section>

      <section id="discuss" class="section is-medium">
        <div class="container">
          <div class="columns">
            <div class="column">
              <img src="/img/community-discuss.png">
            </div>
            <div class="column">
              <h1 class="title is-2">Discuss</h1>
              <p>
                Stencila is a community-driven project and we want to hear back from you. You can
                comment, ask for help, make suggestions about the project or report your experiences
                through our <a href="http://community.stenci.la/">Community Forum</a>.
              </p>
              <p>
                <br/>
                Have your say!
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="share" class="section is-medium">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title is-2">Share</h1>
              <p>
                We are working on Stencila Hub to enable easy sharing of Stencila documents, including interactive
                articles and sheets. The Hub will allow researchers collaborate with their colleagues without the need
                to abandon their preferred tool for data analysis and reporting. Stay tuned for the updates!
              </p>
            </div>
            <div class="column">
              <img src="/img/nokome-presents-sheets.jpg">
            </div>
          </div>
        </div>
      </section>

      <section id="code-of-conduct" class="section is-medium">
        <div class="container">
          <div class="columns">
            <div class="column">
              <img src="/img/community-coc.jpg">
            </div>
            <div class="column">
              <h1 class="title is-2">Code of conduct</h1>
              <p>
               We are committed to growing and maintaining a diverse
               and inclusive community. Everyone involved at any level with Stencila is required to obey
               our <a href="/community/code-of-conduct.html">Code of conduct</a>. We aim to ensure that Stencila community
               operates in a friendly and supportive environment.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="column is-one-quarter">
      <aside class="menu">
        <p class="menu-label">
          Community
        </p>
        <ul class="menu-list">
          <li><a href="#contribute">Contribute</a></li>
          <li><a href="#discuss">Discuss</a></li>
          <li><a href="#share">Share</a></li>
          <li><a href="#code-of-conduct">Code of conduct</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
  #contribute,
  #share,
  #section-6 {
    background: #fafafa;
  }
  main .menu {
    padding-top: 4em;
    padding-left: 2em;
    position: fixed;
  }
  @media(max-width: 1000px) {
    #discuss .columns,
    #code-of-conduct .columns,
    #section-5 .columns {
      flex-direction: column-reverse;
      display: flex;
    }
    main .menu {
      position: relative;
    }
  }
</style>
{% endblock %}
