{% extends "_base.html" %}

{% block title %}
Resources : Stencila
{% endblock %}

{% block main %}
<section class="section border-bottom-light">
    <div class="container">
        <header class="heading">
            <span class="small has-text-primary">Stencila</span>
            <h1 class="title has-line is-1 has-text-primary">Resources</h1>
        </header>

        <div class="content">
            <p>You will find here a selection of useful resources about Stencila.</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <header class="heading">
            <h2 class="title has-line is-2">Cite Stencila</h2>
        </header>
        <div class="content">
            <p>If you mention Stencila in your publications, we would be very grateful to include the following in the references:</p>
            <blockquote>
                <p>Stencila Development Core Team (2016). Stencila [Computer software]. Version 0.28. Available from http://stenci.la</p>
            </blockquote>
        </div>
    </div>
</section>

<section class="section no-padding-top">
    <div class="container">
        <header class="heading">
            <h2 class="title has-line is-2">Stencila Logo</h2>
        </header>

        <div class="columns is-flex flex-direction-column">
            <div class="column">
                <a href="../img/logo-name.svg" download="">
                    <img src="/img/logo-name.svg" alt="Stencila logo with name in svg" style="max-width: 512px; width: 100%;"><br>
                    <span class="tag has-background-primary has-text-white">svg format</span>
                </a>
            </div>
            <div class="column">
                <a href="../img/logo-name.png" download="">
                    <img src="/img/logo-name.png" alt="Stencila logo with name in png" style="max-width: 512px; width: 100%;"><br>
                    <span class="tag has-background-primary has-text-white">png format</span>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="section no-padding-top">
    <div class="container">
        <header class="heading">
            <h2 class="title has-line is-2">Slide about Stencila</h2>
        </header>

        <div class="content">
            <p>If you would like to mention Stencila in your talk, please feel free to use the following slide:</p>
            <ul>
                <li>In ODF Presentation <a href="stencila-slide.odp" download=""><code>odp</code> format</a></li>
                <li>In Microsoft Office Power Point <a href="stencila-slide.pptx" download=""><code>pptx</code> format</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="section no-padding-top">
    <div class="container">
        <header class="heading">
            <h2 class="title has-line is-2">Stencila Stickers</h2>
        </header>

        <div class="content">
            <p>We are expanding on the <a href="/blog/2018-05-stickers">Stencila sticker range</a>. If you would like some stickers to decorate your laptops,
                <a href="mailto:aleksandra@stenci.la">get in touch</a>!</p>
            <p><img src="/blog/2018-05-stickers/stickers-stencila.jpg" alt="Stencila Stickers" style="max-width: 512px; width: 100%;"></p>
        </div>
    </div>
</section>

<section class="section no-padding-top">
    <div class="container">
        <header class="heading">
            <h2 class="title has-line is-2">Stencila Presentations</h2>
        </header>

        <div class="content">
            <p>We have been presenting Stencila at various events. All <a href="https://stencila.github.io/slides/">these presentations are available</a> for you to preview and download. <br>We will keep adding more so keep an eye on this list.</p>
        </div>
    </div>
</section>
{% endblock %}