{% extends "_base.html" %}

{% block title %}
Roadmap : Stencila
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/css/bulma-timeline.min.css">
{% endblock %}

{% block main %}
<main class="main container">
    <div class="section">
        <div class="timeline is-centered">

            <div class="timeline-item">
                <div class="timeline-marker">
                </div>
                <div class="timeline-content">
                    <p class="heading">December 2018</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-marker">
                </div>
                <div class="timeline-content">
                    <p class="heading">January 2019</p>
                    <p>dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-marker is-image is-32x32">
                    <img src="http://bulma.io/images/placeholders/32x32.png">
                </div>
                <div class="timeline-content">
                    <p class="heading">February 2019</p>
                    <p>Some thing</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-marker is-icon">
                    <i class="fa fa-flag"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">March 2019</p>
                    <p>Some event.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-marker is-icon">
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
