////
/// Global modifiers or global style overrides.
////

/// main element
main
    &.main
        padding: $section-padding

/// Visual refinement for Sign Up Form
#beta-signup-form
    .has-margin-top-2
        margin-top: 2rem

    input.is-vcentered
        vertical-align: middle

.notification.top-right
    max-width: 32rem
    position: fixed
    right: 1rem
    top: 1rem
    z-index: 30
