body {
  margin: 0;

  font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
  color: #333;
  font-size: 1.1rem;
  line-height: 150%;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 1rem;
  }
}

.index {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.index a {
  text-decoration: none;
}

.index .header img {
  display: block;
  max-width: 80%;
  margin: 3em auto 1em auto;
}

.index .posts {
  padding: 0.5em;
}

.index .post {
  margin: 2em 0;
}

.index .post .title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.index .post .author {
  display: inline;
  color: #666;
}

.index .post .date {
  display: inline;
  color: #666;
  float: right;
}

.index .post .summary {
  text-align: justify;
  line-height: 130%;
}

.index .post:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}


#header {
  padding: 0.5em 0 0 0.3em;
  border-bottom: 1px solid #EEE;
  margin-bottom: 1em;
}

#header > div {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

#header img {
  width: 9em;
}
