body {
  margin: 0;

  font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
  color: #333;
  font-size: 1.1rem;
  line-height: 150%;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 1rem;
  }
}

.index {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.index .header img {
  display: block;
  max-width: 80%;
  margin: 3em auto 1em auto;
}

.index .posts {
  padding: 0.5em;
}

.index .post {
  margin: 1em 0;
}

.index .post .title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.index .post .author {
  display: inline;
  color: #666;
}

.index .post .date {
  display: inline;
  color: #666;
  float: right;
}

.index .post .abstract {
  text-align: justify;
  line-height: 130%;
}

.index .post:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}


#header {
  padding: 0.5em 0 0 0.3em;
  border-bottom: 1px solid #EEE;
  margin-bottom: 1em;
}

#header > div {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

#header img {
  width: 9em;
}

.post {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

#meta {
  margin: 0 0 2em 0;
}

#title {
  margin-bottom: 1em;
  font-size: 2em;
  color: black;
  font-weight: bold;
  line-height: 100%;
}

.author {
  font-style: italic;
  margin: 1em 0;
}

#date {
  color: #888;
}

#content {
  text-align: justify;
}

a {
  text-decoration: none;
  color: #5081da;
}

figure {
  margin: 3em 0;
}

figure > img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  margin-top: 1em;
  font-weight: bold;
  font-size: 95%;
  color: #777;
}

code {
  padding: 1px;
  background: hsl(0, 0%, 93%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
  font-family: mono;
}

pre {
  margin: 1em 0;
  padding: 1em;
  background: #222;
  border-radius: 3px;

  font-family: mono;
  font-size: .9em;
  color: #ccc;
  overflow: auto;
}
pre>code {
  background: none;
  border: none;
  padding: 0;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
  margin-left: 1rem;
}

h3 {
  font-size: 1.1em;
  margin-left: 2rem;
}

blockquote {
  margin: 1em 0;
  border-left: 4px solid #999;
  border-right: 4px solid #999;
  padding: 0 1em;
  color: #666;
}


#disqus_thread {
  margin-top: 5em;
}
