{% extends "_base.html" %}

{% block main %}
<main class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8 posts">
                <article>
                    <header class="heading">
                        <p class="has-text-primary small">{{ front.author }}, {{ front.date  | date('D MMMM YYYY') }}</p>
                        <h1 class="title has-line has-text-primary is-1">{{ front.title }}</h1>
                    </header>
                    <div class="content post-article-content">{{ content | safe }}</div>
                </article>
                {% if front.suggested %}
                <div id="suggested" class="post-suggestions">
                    <h2 class="title is-5">Suggested posts</h2>
                    {% for suggested in front.suggested %}
                    <div class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                                <img src="{{ suggested.image }}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h5 class="is-5"><a href="{{ suggested.href }}">{{ suggested.title }}</a></h1>
                                    <p style="font-size: 0.9em">
                                        {{ suggested.abstract | truncate }}
                                    </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div id='discourse-comments'></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/css/prism.css" />
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="/js/prism.js"></script>
<script type="text/javascript" src="/js/prism-bash.min.js"></script>
<script type="text/javascript" src="/js/prism-json.min.js"></script>
<script type="text/javascript" src="/js/prism-markdown.min.js"></script>
<script type="text/javascript" src="/js/prism-mini.js"></script>
<script type="text/javascript" src="/js/prism-python.min.js"></script>
<script type="text/javascript" src="/js/prism-r.min.js"></script>
<script type="text/javascript" src="/js/prism-sql.min.js"></script>

<script type="text/javascript">
    DiscourseEmbed = {
        discourseUrl: 'https://community.stenci.la/',
        discourseEmbedUrl: window.location.href,
        { %
            if front.forum_topic %
        }
        topicId: {
            {
                front.forum_topic
            }
        } { % endif %
        }
    };
    (function() {
        var d = document.createElement('script');
        d.type = 'text/javascript';
        d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
</script>
{% endblock %}