{% extends "_base.html" %}

{% block main %}
<main class="section blog-post">
  <div class="container">
    <div class="content">
      <h2 class="title is-2">{{ front.title }}</h2>
      <h3>{{ front.author }}, {{ front.date }}</h3>
      {{ content | safe }}
    </div>
    <div id='discourse-comments'>
    </div>
  </div>
</main>
{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
  #discourse-comments {
  	margin-top: 4em;
  }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  DiscourseEmbed = {
    discourseUrl: 'https://community.stenci.la/',
    discourseEmbedUrl: window.location.href,
    {% if front.forum_topic %}topicId: {{ front.forum_topic }}{% endif %}
  };
  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
{% endblock %}
