{% extends "base.html" %}

{% block main %}
<main class="section">
	<div class="container" style="max-width: 45em">
	{% for post in posts %}
		<div class="columns">
			<div class="column">
				<div class="card">
					<div class="card-header">
						<p class="card-header-title">
							<a href="{{ post.href }}">{{ post.title }}</a>
						</p>
					</div>
					<div class="card-content">
						{{ post.abstract }}
					</div>
					<div class="card-footer">
						<p class="card-footer-item" style="justify-content: left;">
							{{ post.author }}, {{ post.date | date('D MMMM YYYY') }}
						</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</main>
{% endblock %}