{% extends "_base.html" %}

{% block title %}
Blog : Stencila
{% endblock %}

{% macro image(post) %}
<div class="column is-4">
  <p class="image">
    <img src="{{ post.image }}">
  </p>
</div>
{% endmacro %}              

{% block main %}
  <main class="section">
    <div class="container">
      {% set bicycler = cycler("odd", "even") %}
      {% for post in posts %}
        {% set cycle = bicycler.next() %}
        <div class="post {{ cycle }}">
          <a href="{{ post.href }}">
            <div class="columns">
              {% if cycle == "odd" %}{{ image(post) }}{% endif %}
              <div class="column is-8">
                <div class="content">
                  <h4>{{ post.title }}</h4>
                  <p>{{ post.abstract | truncate }}</p>
                  <h6>{{ post.author }}, {{ post.date | date('D MMMM YYYY') }}</h5>
                </div>
              </div>
              {% if cycle == "even" %}{{ image(post) }}{% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    .container {
      max-width: 50em;
    }
    .post {
      margin-bottom: 4em;
      border: 1px solid #eee;
      padding: 1em;
    }
    .post .image {
      max-height: 200px;
      overflow: hidden;
    }
  </style>
{% endblock %}
