{% extends "_base.html" %}

{% block title %}
Contribute to Stencila
{% endblock %}


{% block styles %}
{{ super() }}
<style type="text/css">
  #develop,
  #shape
{
    background: #fafafa;
  }
  @media(max-width: 767px) {
    #document .columns{
      flex-direction: column-reverse;
      display: flex;
    }
  }

</style>
{% endblock %}

{% block main %}
<section id="section-1" class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="content has-text-centered">
          <h1 class="title is-3">Contribute to Stencila</h1>
          <p>
            Stencila is an open-source, community-driven project. We encourage
            and welcome contributions from all community members. There are a number of ways you
            can contribute. On this page we will guide you through through them.
          </p>
        </div>

    </div>
  </div>
</section>

<section id="develop" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2">Develop Stencila</h1>
        <p>
         The heart of Stencila is contained within several repositories. Most of the code is written in JavaScript.
         You can contribute to the code underpinning <a href="https://github.com/stencila/stencila">Stencila user interfaces</a>,
         to the <a href="https://github.com/stencila/desktop">Stencila Desktop application</a> or
         to the <a href="https://github.com/stencila/node"> the Stencila for Node.js</a> package.
        </p>
        <br/><br/>
        <p>
          If you are interested in helping with Stencila interoperability with existing tools and file formats
          used for data analysis, check out <a href="https://github.com/stencila/cli"> Stencila Command Line Interface</a> and
          <a href="https://github.com/stencila/convert"> Stencila Converters</a>.
        </p>
  <br/><br/>
        <p>
          If you want to make Stencila available online, to support efficient sharing and
          collaboration, have a look at <a href="(https://github.com/stencila/hub">Stencila Hub</a>
          and <a href="https://github.com/stencila/cloud">Stencila Cloud</a>. Working on this source
          code will be particularly interesting for those who are into cloud computing, Docker and Kubernetes.
        </p>
  <br/><br/>
      <p>
        If you would like to improve functionality of using Python from within Stencila,
        check the <a href="https://github.com/stencila/py"> Stencila for Python</a>.
        And if you are an R developer, have a look at <a href="https://github.com/stencila/r"> Stencila for R </a>
  <br/><br/>
        The usage of external languages and libraries in Stencila is also enabled through
        <a href="https://github.com/stencila/images"> Stencila Docker images</a>.

        </p>
      </div>

      <div class="column">
        <img src="contribute-graph.png">
      </div>
    </div>
  </div>
</section>




<section id="document" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <img src="contribute-documentation.jpg">
      </div>
      <div class="column">
        <h1 class="title is-2">Document Stencila</h1>
        <p>
          We will be honest here. We are guilty of Stencila documentation requiring more love and attention.
          Your help would be much appreciated! You can simply go to the <a href="../learn/getting-started/intro.html">documentation pages</a>
          and click the  <span id="edit-page" class="button" title="Edit button" style="color:white; background: #2568ef;">✎ Edit </span> button.
        </p>

        <br/> <br/>

        <p>
          You will be taken to the editor (within GitHub repository - if you don't know what it means, don't worry, just keep editing).
          In the editor, simply make the changes you think should be there. Then, in the text box at the bottom (under
          <em>Commit changes</em>), put in a short note on what you did and click the button <em>Submit changes</em>.
        </p>

        <br/> <br/>

        <p>
          We also welcome and very much need help documenting the source code. Please send us pull requests or simply
          <a href="mailto:hello@stenci.la"></a> get in touch if you'd like to improve source code documentation.
        </p>
      </div>
    </div>
  </div>
</section>


<section id="share" class="section">
  <div class="container">
    <div class="columns">

      <div class="column">
        <h1 class="title is-2">Share your data manipulation code</h1>
        <p>
          If you develop code for data manipulation (in Python, R, and other languages), you may be interested in
          making your data manipulation code available through <a href="">domain-specific libraries</a>.
          Alternatively, you can help out with expanding
           <a href="https://github.com/stencila/libcore/blob/master/CONTRIBUTING.md">Stencila Core Library</a> which
           comes with the basic Stencila installation and is implemented in JavaScript.
        </p>
      </div>
      <div class="column">
        <img src="contribute-share.jpg">
      </div>
    </div>
  </div>
</section>





{% endblock %}
-
