.preheader {
  @apply block pt-8 text-base tracking-wide text-center uppercase text-neutral-700;

  & + h1 {
    @apply text-4xl text-center text-primary-500;
  }
}

.team article {
  & > h1,
  & > h2 {
    @apply text-center;
  }

  .alumni-header {
    @apply mt-16 mb-8 text-2xl text-neutral-700;
  }
}

.intro {
  @apply mb-8;
}

.team-member {
  @apply mb-0;

  @screen tablet {
    @apply flex items-start mb-8;
  }

  &:nth-of-type(odd) {
    img {
      order: 2;
    }
  }

  img {
    @apply flex-grow-0 flex-shrink-0 mx-auto rounded-full media-shadow;
    width: 5rem;
    transform: translateY(50%);

    @screen tablet {
      width: 8rem;
    }
  }

  div {
    @apply px-4 pt-16 pb-4 bg-white rounded media-shadow;

    @screen tablet {
      @apply p-4 ml-8;
    }
  }

  &:nth-of-type(odd) div {
    @screen tablet {
      @apply ml-0 mr-8;
    }
  }

  h2 {
    @apply mb-1 text-2xl;
  }

  h3 {
    @apply text-2xl font-normal;
  }

  p {
    @apply mb-0;
  }
}
