{{ define "title" }} {{ .Title }} · {{ .Site.Title }} {{ end }}

{{ define "main"}}
<main class="{{ .Type }} content entry container advisory-board team">
  <article>
    <section class="intro">
      <span class="preheader">About us</span>
      <h1>Advisory Board</h1>

      <p>
        Stencila's Advisory Board provides us with advice, criticism and
        mentoring. They act as a sounding board for discussing problems and
        opportunities.
      </p>
    </section>

    {{ range sort .Site.Data.Advisors.Current }}
    <section class="team-member">
      <img src="{{ .Avatar }}" alt="Avatar of {{ .Name }}" />
      <div>
        <h2>{{ .Name }}</h2>
        <h3>{{ .Title }}</h3>
        <p>{{ .Bio | markdownify }}</p>
      </div>
    </section>
    {{ end }}

    <h2 class="alumni-header">Alumni</h2>

    {{ range sort .Site.Data.Advisors.Alumni }}
    <section class="team-member">
      <img src="{{ .Avatar }}" alt="Avatar of {{ .Name }}" />
      <div>
        <h2>{{ .Name }}</h2>
        <h3>{{ .Title }}</h3>
        <p>{{ .Bio | markdownify }}</p>
      </div>
    </section>
    {{ end }}
  </article>
</main>

{{ end }}
