{% extends "_base.html" %}

{% block title %}
Advisory Board : Stencila
{% endblock %}

{% block main %}
<main class="main is-paddingless">

    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <section class="section section--inner">
                    <header class="heading">
                        <span class="small has-text-primary">About us</span>
                        <h1 class="title has-line is-1 has-text-primary">Advisory Board</h1>
                    </header>
                    <div class="content">
                        <p>
                            Stencila's Advisory Board provides us with advice, criticism and mentoring.
                            They act as a sounding board for discussing problems and opportunities.
                        </p>
                    </div>
                </section>

                <section class="section section--inner no-padding-top">
                    <div class="columns">
                        <div class="column is-9">
                            <h1 class="title is-4">Josh Greenberg, <br>Alfred P. Sloan Foundation, New York, USA</h1>
                            <p>
                                Josh is Program Director for Digital Information Technology at the
                                <a href="https://sloan.org/">Alfred P. Sloan Foundation</a>.
                                He has a PhD from Cornell University's Department of Science & Technology Studies and was
                                the Director of Digital Strategy and Scholarship at the New York Public Library. Josh brings to
                                the board his broad experience and understanding of the needs of scholarly communication and
                                the ecosystem of digital tools that are transforming it.
                            </p>
                        </div>
                        <div class="column is-flex is-2 align-centre flex-justify-centre">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/josh-greenberg.png">
                            </figure>
                        </div>
                    </div>
                </section>

                <section class="section section--inner no-padding-top">
                    <div class="columns">
                        <div class="column is-flex is-2 align-centre flex-justify-centre">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/ben-kepes.jpg">
                            </figure>
                        </div>
                        <div class="column is-9">
                            <h1 class="title is-4">Ben Kepes, <br>Diversity Ltd, Waipara, Aotearoa New Zealand</h1>
                            <p>
                                Ben is a business leader, technology evangelist, commentator, adviser and investor at
                                <a href="https://www.diversity.net.nz/">Diversity</a>.
                                He is a globally recognized as an expert in enterprise software and cloud computing strategy.
                                Ben brings to the board his extensive skills and experience in startups, business strategy,
                                and leadership development.
                            </p>
                        </div>
                    </div>
                </section>
                <section class="section section--inner no-padding-top">
                    <div class="columns">
                        <div class="column is-9">
                            <h1 class="title is-4">Kristen Ratan, <br>Collaborative Knowledge Foundation, San Francisco, USA</h1>
                            <p>
                                Kristen is co-founder and Executive Director of the
                                <a href="https://coko.foundation/">Collaborative Knowledge (Coko) Foundation</a>.
                                She has been Publisher at the Public Library of Science (PLoS) and Director of Strategic Development
                                at HighWire Press. Kristen brings to the board her extensive experience in sales and marketing and
                                talents for leadership, strategic planning, stakeholder engagement, and partnership development.
                            </p>
                        </div>
                        <div class="column is-flex is-2 align-centre flex-justify-centre">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/kristen-ratan.jpg">
                            </figure>
                        </div>
                    </div>
                </section>
                <section class="section section--inner no-padding-top">
                    <div class="columns">
                        <div class="column is-flex is-2 align-centre flex-justify-centre">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/danielle-robinson.jpg">
                            </figure>
                        </div>
                        <div class="column is-9">
                            <h1 class="title is-4">Danielle Robinson, <br>PhD, Code for Science & Society, Portland, USA</h1>
                            <p>
                                Danielle is the Co-Executive Director of <a href="https://codeforscience.org/">Code for Science & Society</a>,
                                a nonprofit dedicated to incubating
                                open source public interest technology with a special focus on tools for open research.
                                Danielle brings nine years of neuroscience research, experience developing open source projects for
                                open scholarship as a 2016 Mozilla Science Fellow, and her perspective from working with
                                open source software projects across domains to the Stencila Advisory Committee.
                            </p>
                        </div>

                    </div>
                </section>
                <section class="section section--inner no-padding-top">
                    <div class="columns">
                        <div class="column is-9">
                            <h1 class="title is-4">Finlay Thompson, <br>Dragonfly Data Science Ltd, Wellington, Aotearoa New Zealand</h1>
                            <p>
                                Finlay is Senior Data Scientist at
                                <a href="https://www.dragonfly.co.nz/">Dragonfly Data Science</a>.He has a PhD in Mathematics and
                                brings to the board several decades of experience
                                in data analysis, database management and software development and a deep understanding of the challenges
                                that researchers face when analysing data.
                            </p>
                        </div>
                        <div class="column is-flex is-2 align-centre flex-justify-centre">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/finlay-thompson.jpg">
                            </figure>
                        </div>
                    </div>
                </section>
                <section class="section section--inner no-padding-top">
                    <div class="columns">
                        <div class="column is-flex is-2 align-centre flex-justify-centre">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/greg-wilson.jpg">
                            </figure>
                        </div>
                        <div class="column is-9">
                            <h1 class="title is-4">Greg Wilson, <br>RStudio, Toronto, Canada</h1>
                            <p>
                                Greg is a Data Scientist and Professional Educator at
                                <a href="https://www.rstudio.com/">RStudio</a>. He holds a PhD in Computer Science
                                and he has devoted significant part of his career to helping thousands of researchers around the
                                globe do reproducible research. He co-founded and led for many years Software Carpentry,
                                developing it from a small initiative to a multinational non-profit foundation.
                                Greg brings to the board his experience in community building and software engineering.
                            </p>
                        </div>

                    </div>
                </section>

            </div>


            <div class="column is-2 offset-1">
                <aside class="menu section">
                    <p class="menu-label">
                        About
                    </p>
                    <ul class="menu-list">
                        <li><a href="team.html">Team</a></li>
                        <li><a href="advisory-board.html">Advisory Board</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</main>

{% endblock %}
