{% extends "_base.html" %}

{% block title %}
Contributors : Stencila
{% endblock %}

{% block main %}



<main class="main">
    <div class="columns">
      <div class="column">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
                <div class="section has-text-justified">
                  <div class="content">
                  <h1 class="title is-2">Stencila Contributors</h1>
                  <p> 
                  </p>
                </div>
            </div>
            
        </div>
      </div>
    </section>


    
    <section class="section">
        <div class="container">
          <div class="columns">
              <div class="column">
               
              <p>
             <!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
             <!-- prettier-ignore -->
             <!-- ALL-CONTRIBUTORS-LIST:END -->

              </p>
            </div>
            
         </div> 
     </div> 
      </section>





</div>

<div class="column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">
        About
      </p>
      <ul class="menu-list">
        <!--<li><a href="our-story.html">Our story</a></li>-->
        <li><a href="team.html">Team</a></li>
        <li><a href="advisory-board.html">Advisory Board</a></li>
        <li><a href="contributors.html">Contributors</a></li>
      </ul>
    </aside>
  </div>
</div>
</div>

{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
main .menu {
padding-top: 4em;
padding-left: 2em;
position: fixed;
}
@media(max-width: 1000px) {
#discuss .columns,
#code-of-conduct .columns,
#section-5 .columns {
  flex-direction: column-reverse;
  display: flex;
}
main .menu {
  position: relative;
}
}
</style>
{% endblock %}
