{% extends "_base.html" %}

{% block title %}
Our story: Stencila
{% endblock %}

{% block main %}


<main class="main is-paddingless">
    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <section class="section section--inner">
                    <header class="heading">
                        <span class="small has-text-primary">About us</span>
                        <h1 class="title has-line is-1 has-text-primary">Beginnings</h1>
                    </header>
                    <div class="content">
                        <p>
                            The idea behind Stencila started off several years ago when Nokome Bentley, then a fisheries scientist,
                            was looking for better tools to do his research. His work in fisheries involved building complex statistical
                            models, computational modelling of various data sets and producing reports. Nokome collaborated on the latter
                            with a number of stakeholders who had different preferences regarding the tools for working on research reports.
                        </p>

                    </div>
                </section>

                <section class="section section--inner no-padding-top no-padding-bottom">
                    <div class="columns alternate-layout">
                        <div class="column is-two-thirds">
                            <h1 class="title is-4">Stencils</h1>
                            <p>
                                The need to switch between different tools for working on research reports was inconvenient, frustrating but most of all creating
                                caveats for reproducibility and productivity. Nokome came up with the idea of <em>stencils</em>, a type of interactive research documents
                                which would make it easy for coders and non-coders to collaborate on. With the familiar office-like interface, the <em>stencils</em>
                                would be non-intimidating environment for non-coding contributors, whilst the structure underpinning the documents meant that they
                                were fully interactive, reproducible and interoperable with the existing research tools.
                            </p>
                        </div>
                        <div class="column is-flex align-centre flex-justify-centre primary-item">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="/img/favicon.png">
                            </figure>
                        </div>
                    </div>
                    <hr class="is-small has-background-light">
                </section>

                <section class="section no-padding-top no-padding-bottom section--inner">
                    <div class="columns alternate-layout">
                        <div class="column is-two-thirds">
                            <h1 class="title is-4">Funding</h1>
                            <p>
                                While still working full-time as the fisheries scientist, Nokome, developed a prototype of what now is <a href="/use/">
                                    Stencila Desktop</a>. In the meantime he has been in touch with a number of people engaged in reproducible research efforts,
                                visual programming and scholarly communication. Thanks to these connections, in particular
                                <a href="https://stenci.la/blog/thanks-coko/">thanks to Adam Hyde</a> of the Collaborative Knowledge Foundation (Coko), Nokome
                                got in touch with the
                                <a href="https://sloan.org/">Alfred P. Sloan Foundation</a>. The discussions with the Sloan Foundation eventually led to a submission
                                of the <a href="https://stenci.la/blog/sloan-grant/">successful funding application</a> to develop
                                <a href="https://stenci.la/blog/underneath-sheets/">Stencila Sheets</a>.

                            </p>
                        </div>
                        <div class="column is-flex align-centre flex-justify-centre primary-item">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="/img/favicon.png">
                            </figure>
                        </div>
                    </div>
                    <hr class="is-small has-background-light">
                </section>

                <section class="section section--inner no-padding-top no-padding-bottom">
                    <div class="columns alternate-layout">
                        <div class="column is-two-thirds">
                            <h1 class="title is-4">Development</h1>
                            <p>
                                2017 was filled in with intensive development. Nokome worked with Oliver Buchtala
                                and Michael Aufreiter of <a href="http://substance.io/">Substance</a>. Using Substance's editor Texture
                                the team implemented selected paradigms underpinning Stencila preparing an <em>Minimal Viable Product</em>.
                                It was now possible to produce reactive and interactive Stencila documents supporting code cells written in
                                R, Python and JavaScript. The team worked on implementing
                                <a href="https://stenci.la/blog/2017-08-features-stencila-sheets/">a number of features for Stencila Sheets</a>.
                                The collaboration with eLife Innovation brought in <a href="https://stenci.la/blog/2018-07-03-elife-article/">
                                    fully interactive publishing</a> with Stencila.
                            </p>
                        </div>
                        <div class="column is-flex align-centre flex-justify-centre primary-item">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="/img/favicon.png">
                            </figure>
                        </div>
                    </div>
                    <hr class="is-small has-background-light">
                </section>

                <section class="section section--inner no-padding-top no-padding-bottom">
                    <div class="columns alternate-layout">
                        <div class="column is-two-thirds">
                            <h1 class="title is-4">Focus</h1>
                            <p>
                                After intensive yet successful development in 2017 Stencila entered the next phase finding the right niche and
                                fitting into the reproducible tools ecosystem. With a lot of contribution from Daniel Nüst
                                <a href="https://stenci.la/blog/2018-11-20-stencila-binder/">Stencila got integrated with Binder.</a> We collected
                                some user <a href="https://stenci.la/blog/2018-08-workshops-feedback/">feedback through 4 workshops ran using Stencila Hub</a>.
                                The end of 2018 was very exciting as Stencila received further funding from the Sloan Foundation to work on the Sheets and
                                interactive documents.
                            </p>
                        </div>
                        <div class="column is-flex align-centre flex-justify-centre primary-item">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="/img/favicon.png">
                            </figure>
                        </div>
                    </div>
                    <hr class="is-small has-background-light">
                </section>

                <section class="section section--inner no-padding-top">
                    <div class="columns alternate-layout">
                        <div class="column is-two-thirds">
                            <h1 class="title is-4">Future</h1>
                            <p>...</p>
                        </div>
                        <div class="column is-flex align-centre flex-justify-centre primary-item">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="/img/favicon.png">
                            </figure>
                        </div>
                    </div>
                </section>
            </div>
            <div class="column is-2 offset-1">
                <aside class="menu section">
                    <p class="menu-label">
                        About
                    </p>
                    <ul class="menu-list">
                        <!--  <li><a href="our-story.html">Our story</a></li> -->
                        <li><a href="team.html">Team</a></li>
                        <li><a href="advisory-board.html">Advisory Board</a></li>
                        <li><a href="contributors.html">Contributors</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>



    {% endblock %}