{% extends "_base.html" %}

{% block title %}
Advisory Board : Stencila
{% endblock %}

{% block main %}



<main class="main is-paddingless">
    <div class="container">
        <div class="columns">
            <div class="column">

                <section class="section section--inner">
                    <header class="heading">
                        <span class="small has-text-primary">About us</span>
                        <h1 class="title has-line is-1 has-text-primary">Stencila Team</h1>
                    </header>
                    <div class="content">
                        <p>
                            Stencila's team come from different backgrounds allowing us to bring different points of view
                            to our work and create products that are useful for a diverse community of users.
                            We share a passion open source technologies and lowering the barriers to learning how to code.
                        </p>
                    </div>
                </section>

                <section class="section section--inner no-padding-top">
                    <div class="columns alternate-layout">
                        <div class="column is-flex is-2 align-centre flex-justify-centre primary-item">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/nokome.jpg">
                            </figure>
                        </div>
                        <div class="column is-9">
                            <h1 class="title is-4">Nokome Bentley, <br>Founder and CEO</h1>
                            <p>
                                Nokome is the founder of Stencila. He is originally a marine scientist with over twenty years experience in research for sustainable
                                management of marine resources. Stencila is a project born out of Nokome’s own frustrations with traditional copy and paste workflows and the
                                inaccessibility of many existing tools for data-driven research.
                                He set out to create a platform for reproducible research that bridges the gap in collaboration between coders and non-coders.
                                Nokome is based in Aotearoa New Zealand.
                            </p>
                        </div>
                    </div>
                </section>

                <section class="section section--inner no-padding-top">
                    <div class="columns alternate-layout">
                        <div class="column is-9">
                            <h1 class="title is-4">Aleksandra Pawlik, <br>Community Advocate</h1>
                            <p>
                                Aleksandra's work focuses on understanding users’ needs to direct further development,
                                building open source developer community and keeping you all updated on what's going on at Stencila.
                                She has been worked in the research software area for over 6 years coordinating training for
                                the <a href="http://software.ac.uk/">Software Sustainability Institute</a> in the UK and then for <a href="https://www.nesi.org.nz/">New Zealand eScience Infrastructure</a>.
                                She holds a PhD in Computing and is a <a href="https://software-carpentry.org/">Software</a> and
                                <a href="http://datacarpentry.org/">Data Carpentry</a> certified instructor. Aleksandra
                                has also trained other instructors in Europe, South Africa, Australia and New Zealand.
                            </p>
                        </div>
                        <div class="column is-flex is-2 align-centre flex-justify-centre primary-item">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/aleksandra_centred.jpg">
                            </figure>
                        </div>
                    </div>
                </section>

                <section class="section section--inner no-padding-top">
                    <div class="columns alternate-layout">
                        <div class="column is-flex is-2 align-centre flex-justify-centre primary-item">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="/img/about/ben.jpg">
                            </figure>
                        </div>
                        <div class="column is-9">
                            <h1 class="title is-4">Ben Shaw, <br>Senior Software Engineer</h1>
                            <p>
                                Ben is a Software Engineer with many years' experience across a range of fields and industries.
                                His prior work history includes startups, small businesses, creative agencies and large enterprise,
                                as well as consulting services. Ben's technical skills range from web development and design
                                to low level programming, system design and architecture and mobile development. He also brings
                                to Stencila his experience in team leading, mentorship and project planning and management.
                                Ben is based in Aotearoa New Zealand.
                            </p>
                        </div>

                    </div>
                </section>

            </div>

            <div class="column  is-2 offset-1">
                <aside class="menu section">
                    <p class="menu-label">
                        About
                    </p>
                    <ul class="menu-list">
                        <!-- <li><a href="our-story.html">Our story</a></li>-->
                        <li><a href="team.html">Team</a></li>
                        <li><a href="advisory-board.html">Advisory Board</a></li>
                        <li><a href="contributors.html">Contributors</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</main>

{% endblock %}