<footer class="footer">
  <div class="container columns footer-links">
    <div class="column is-2">
      <h4 class="title">Community</h4>
      <ul>
        <li>
          <a href="#">Discord</a>
        </li>
        <!-- <li> -->
        <!--   <a href="/contribute">Contribute</a> -->
        <!-- </li> -->
        <li>
          <a href="/community/resources">Resources</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>

    <div class="column is-3">
      <h4 class="title">About</h4>
      <ul>
        <li><a href="/about/team">Team</a></li>
        <li><a href="/about/advisory-board">Advisors</a></li>
        <li><a href="/about/jobs">Jobs</a></li>
        <li><a href="https://policies.stenci.la/privacy">Privacy Policy</a></li>
        <li>
          <a href="https://policies.stenci.la/terms">Terms &amp; Conditions</a>
        </li>
      </ul>
    </div>

    <div class="column is-2">
      <h4 class="title">Contact</h4>
      <ul>
        <li><a href="mailto:hello@stenci.la">Email</a></li>
        <li><a href="https://twitter.com/stencila">Twitter</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-colophon">
    <div class="container">
      <div class="colophon-links">
        <div class="footer-copyright">
          <img
            src="/img/stencila-icon-reverse.svg"
            alt="Stencila"
            class="footer-logo"
          />

          &copy; 2018-2019 Stencila
          <a href="https://github.com/stencila/website#contributors"
            >contributors</a
          >
        </div>

        <div class="icons">
          <a href="https://github.com/stencila" target="_blank">
            <i class="ri-github-fill"></i>
          </a>
          <a href="https://gitter.im/stencila/stencila" target="_blank">
            <i class="ri-discord-fill"></i>
          </a>
          <a href="https://twitter.com/stencila" target="_blank">
            <i class="ri-twitter-fill"></i>
          </a>
        </div>
      </div>

      <div>
        <a
          class="button"
          href="https://github.com/stencila/website"
          target="_blank"
          title="Edit this page"
          >Edit</a
        >
      </div>
    </div>
  </div>
</footer>
