<footer class="footer">
  <div class="container columns footer-links">
    <div class="column is-2">
      <h3 class="title">Resources</h3>
      <ul>
        <li>
          <a href="http://help.stenci.la" target="_blank" rel="noreferrer"
            >Documentation</a
          >
        </li>
        <li>
          <a
            href="https://discord.gg/XMNrcWqykZ"
            target="_blank"
            rel="noreferrer"
            >Discord chat</a
          >
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/community/resources">Press package</a>
        </li>
      </ul>
    </div>

    <div class="column is-3">
      <h3 class="title">About</h3>
      <ul>
        <li><a href="/about/team">Team</a></li>
        <li><a href="/about/advisory-board">Advisors</a></li>
        <!-- <li><a href="/about/jobs">Jobs</a></li> -->
        <li>
          <a
            href="https://policies.stenci.la/privacy"
            target="_blank"
            rel="noreferrer"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a
            href="https://policies.stenci.la/terms"
            target="_blank"
            rel="noreferrer"
            >Terms &amp; Conditions</a
          >
        </li>
      </ul>
    </div>

    <div class="column is-2">
      <h3 class="title">Contact</h3>
      <ul>
        <li><a href="mailto:hello@stenci.la">Email</a></li>
        <li>
          <a
            href="https://twitter.com/stencila"
            target="_blank"
            rel="noreferrer"
            >Twitter</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-colophon">
    <div class="container">
      <div class="colophon-links">
        <div class="footer-copyright">
          <img
            src="/img/stencila-icon-reverse.svg"
            alt="Stencila"
            class="footer-logo"
          />

          &copy; 2018-{{ now.Format "2006" }} Stencila
          <a
            href="https://github.com/stencila/website#contributors"
            target="_blank"
            rel="noreferrer"
            >contributors</a
          >
        </div>

        <div class="icons">
          <a
            href="https://github.com/stencila"
            target="_blank"
            rel="noreferrer"
            title="GitHub profile page"
            target="_blank"
          >
            <i class="ri-github-fill"></i>
          </a>
          <a
            href="https://discord.gg/XMNrcWqykZ"
            target="_blank"
            rel="noreferrer"
            title="Discord chat server"
            target="_blank"
          >
            <i class="ri-discord-fill"></i>
          </a>
          <a
            href="https://twitter.com/stencila"
            rel="noreferrer"
            title="Twitter account"
            target="_blank"
          >
            <i class="ri-twitter-fill"></i>
          </a>
          <a
            href="https://stenci.la/blog/index.xml"
            title="Blog RSS feed"
            target="_blank"
          >
            <i class="ri-rss-fill"></i>
          </a>
        </div>
      </div>

      <div>
        <a
          class="button"
          href="https://github.com/stencila/website"
          rel="noreferrer"
          target="_blank"
          title="Edit this page"
          >Edit</a
        >
      </div>
    </div>
  </div>
</footer>
