<header class="header">
  <nav
    role="navigation"
    aria-label="main navigation"
    id="main-navigation"
    class="container"
  >
    <a class="logo" href="/">
      <img src="/img/stencila/stencilaLogo.svg" alt="Stencila" />
    </a>

    <div id="navbar-menu">
      <a
        role="button"
        class="mobile-toggle"
        aria-label="menu"
        aria-expanded="false"
        id="mobile-menu-toggle"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <div class="navbar-content">
        <div class="navbar-start">
          {{ $currentPage := . }}
          {{ range sort .Site.Data.Menu "Weight"}}
          <a
            class="nav-item{{if eq $currentPage.Permalink .URL }} active{{end}}"
            href="{{ .URL }}"
            title="{{ .Title }}"
            >{{ .Name }}</a
          >
          {{ end }}
        </div>

        <div class="navbar-end">
          <a class="button primary outline" href="https://hub.stenci.la/me/sigin">
            Sign in
          </a>

          <a class="button primary" href="https://hub.stenci.la/me/signup">
            Sign up
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
