@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body, button, input, select, textarea {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  color: #353535;
}

/* Overrides */

.button {
    text-transform: none;
}

.card .card-footer,
.card .card-footer-item {
    text-transform: none;
}

.navbar:not(.is-transparent) {
  box-shadow: none;
  border-bottom: 1px solid #DDD;
}

.navbar-item:hover,
.navbar-burger:hover {
  background: none;
}

a.navbar-item.is-active,
a.navbar-item:hover,
a.navbar-link.is-active,
a.navbar-link:hover {
  background: none;
  color: #2568ef;
}

.container {
  max-width: 60em;
}

/* */

.main {
  min-height: 80vh;
}

.navbar-start {
    margin-left: 3em;
}

.navbar .input {
  border: 1px solid #EEE;
  padding: 0.5em;
  box-shadow: none;
}

.navbar .input:active,
.navbar .input:focus {
  box-shadow: none;
}

.footer {
  flex: 1;
  background-color: white;
  border-top: 1px solid #DDD;
}

.footer #edit-page {
    position: absolute;
    top: 0;
    right: 0;
    background: #2568ef;
    color: white;
}

.content {
  font-size: 1.1rem;
}
.content h1 {
  color: #333;
}
.content h2 {
  color: #555;
}
.content h3 {
  color: #777;
}
.content h4 {
  color: #999;
}

main.blog-post .content img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

/* Override of .number style in materia.css */
code .token.number {
  background: none;
  font-size: 1em;
  display: inline;
  margin: 0;
  min-width: 0;
  padding: 0;
}

blockquote.tip {
  background-color: #e5eeff;
  border-left: 4px solid #337aff;
  position: relative;
  font-size: 0.85em;
}
blockquote.warning {
  background-color: #fff1f1;
  border-left: 4px solid #f66;
  position: relative;
  font-size: 0.85em;
}

blockquote.tip:before,
blockquote.warning:before {
  border-radius: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  top: 10px;
}

blockquote.tip:before {
  background-color: #337aff;
  content: "i";
}
blockquote.warning:before {
  background-color: #f66;
  content: "!";
}
