@import url('https://fonts.googleapis.com/css?family=Lato');

body, button, input, select, textarea {
    font-family: "Lato","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Overrides */

.button {
    text-transform: none;
}

.card .card-footer,
.card .card-footer-item {
    text-transform: none;
}

.navbar-item:hover,
.navbar-burger:hover {
  background: none;
}

a.navbar-item.is-active,
a.navbar-item:hover,
a.navbar-link.is-active,
a.navbar-link:hover {
  background: none;
  color: #2568ef;
}

/* */

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  flex: 1;
  background-color: white;
  border-top: 1px solid #DDD;
}

.blog-post .container {
    max-width: 50em;
}

.blog-post .content img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#edit-page {
    position: absolute;
    top: 0;
    right: 0;
    background: #2568ef;
    color: white;
}
