{% extends "_base.html" %}
{% from "_download.html" import download %}

{% block main %} 
<main class="main"> 
  <div class="columns"> 
    <div class="column">
      <section id="desktop" class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-one-third has-text-centered">
              <div class="">
                <h1 class="title is-5">Stencila Desktop</h1>
                <p>
                  Use Stencila on your own computer, with your own data, on- or offline. Stencila Desktop is a conventional desktop application allowing you to save and open files to and from your local file system.
                </p>
              </div>
              <div class="section">
                {{ download('desktop', '0.28.0') }}
                <div>
                  See the <a href="/learn/getting-started/installation.html">installation instructions</a> for connecting Stencila Desktop with alternative programming languages.
                </div>
              </div>
            </div>
            <div class="column">
              <img src="desktop.svg" style="width: 100%">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div> 
</div> 
{% endblock %} 
 
{% block styles %}  
{{ super() }}  
<style type="text/css">  
  main .menu { 
    padding-top: 4em;
    padding-left: 2em;
    position: fixed;
  } 
  @media(max-width: 1000px) {  
    #hub .columns {  
      flex-direction: column-reverse;  
      display: flex;  
    } 
    main .menu { 
      position: relative; 
    }  
  } 
</style>    
{% endblock %}
