{% extends "_base.html" %}

{% block title %}
  {% if front.title %}{{front.title}}{% else %}Learn{% endif %} : Stencila
{% endblock %}

{% block main %}
<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          {{ content | safe }}
        </div>
        <div class="steps">
          {% if front.prev %}
          <div class="prev">
            <a href="{{ front.prev.url }}">◀ {{ front.prev.label }}</a>
          </div>
          {% endif %}
          {% if front.next %}
          <div class="next">
            <a href="{{ front.next.url }}">{{ front.next.label }} ▶</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="column is-one-quarter">
        {% include "learn/_toc.html" %}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
  main .content {
    min-height: 60vh;
  }

  main .menu {
    padding-top: 4em;
    padding-left: 2em;
  }

  main .steps {
    margin-top: 2em;
  }

  main .prev,
  main .next {
    font-size: 1.2em;
  }

  main .prev {
    float: left;
  }

  main .next {
    float: right;
  }
</style>
<link rel="stylesheet" href="/css/prism.css"/>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/js/prism.js"></script>
<script type="text/javascript" src="/js/prism-bash.min.js"></script>
<script type="text/javascript" src="/js/prism-json.min.js"></script>
<script type="text/javascript" src="/js/prism-mini.js"></script>
<script type="text/javascript" src="/js/prism-python.min.js"></script>
<script type="text/javascript" src="/js/prism-r.min.js"></script>
<script type="text/javascript" src="/js/prism-sql.min.js"></script>
{% endblock %}
