{% extends "_base.html" %}

{% block title %}
{% if front.title %}{{front.title}}{% else %}Learn{% endif %} : Stencila
{% endblock %}

{% block main %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <header class="heading">
                    <span class="small has-text-primary">{{ front.smalltitle }}</span>
                    <h1 class="title has-line is-1 has-text-primary">{{ front.title }}</h1>
                </header>
                <div class="content">
                    {{ content | safe }}
                </div>
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    {% if front.prev %}
                    <a class="pagination-previous pagination-previous--icon button is-outlined is-primary is-rounded" href="{{ front.prev.url }}">{{ front.prev.label }}</a>
                    {% else %}
                    <span></span>
                    {% endif %}
                    {% if front.next %}
                    <a class="pagination-next pagination-next--icon button is-outlined is-primary is-rounded" href="{{ front.next.url }}">{{ front.next.label }} <span class="icon is-small"><i class="lnr lnr-arrow-right"></i></span></a>
                    {% endif %}
                </nav>
            </div>
            <div class="column is-2 is-offset-1">
                {% include "learn/_toc.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/css/prism.css" />
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/js/prism.js"></script>
<script type="text/javascript" src="/js/prism-bash.min.js"></script>
<script type="text/javascript" src="/js/prism-json.min.js"></script>
<script type="text/javascript" src="/js/prism-mini.js"></script>
<script type="text/javascript" src="/js/prism-python.min.js"></script>
<script type="text/javascript" src="/js/prism-r.min.js"></script>
<script type="text/javascript" src="/js/prism-sql.min.js"></script>
{% endblock %}