<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% if front.title %}{{front.title}} : {% endif %}Stencila{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    {% block styles %}
    <link rel="stylesheet" href="/css/materia.min.css"/>
    <link rel="stylesheet" href="/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="/css/docsearch.min.css"/>
    <link rel="stylesheet" href="/css/website.css"/>
    {% endblock %}
  </head>
  <body>
    {% block header %}{% include "_header.html" %}{% endblock %}
    {% block main %}
    <main class="main section">
      <div class="container">
        <div class="content">
          {{ content | safe }}
        </div>
      </div>
    </main>
    {% endblock %}
    {% block footer %}{% include "_footer.html" %}{% endblock %}
  </body>
  {% block scripts %}
  <script type="text/javascript" src="/js/docsearch.min.js"></script>
  <script type="text/javascript" src="/js/website.js"></script>
  {% endblock %}
</html>
