{% extends "_base.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">
  #section-2,
  #section-4,
  #section-6 {
    background: #fafafa;
  }
  @media(max-width: 767px) {
    #section-2 .columns,
    #section-4 .columns,
    #section-6 .columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }
  p {
    color: #4a4a4ab5;
  }

  #funders img,
  #partners img {
    display: block;
    margin: 1em auto;
    max-height: 70px;
    max-width: 250px;
  } 
</style>  
{% endblock %}

{% block main %}
<section id="section-1" class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="section has-text-centered">
          <h1 class="title is-3">An open source office suite for reproducible research</h1>
          <p>
            The calls for research to be transparent and reproducible have never been louder. But today's tools for reproducible research can be intimidating - especially if you're not a coder. We're building software for reproducible research with the intuitive, visual interfaces that you and your colleagues are used to.
          </p>
        </div>
        <div class="">
          <img src="/img/screenshot.png">
        </div>
    </div>
  </div>
</section>

<section id="funders" class="section">
  <div class="container">
    <h1 class="title is-4 is-gray has-text-centered">Funders</h1>
    <figure class="is-flex is-horizontal-center">
      <img src="/img/sloan.png">
    </figure>
  </div>
</section>


<section id="partners" class="section">
  <div class="container">
    <h1 class="title is-4 is-gray has-text-centered">Partners</h1>
    <div class="columns is-multiline is-centered">
      <div class="column is-narrow">
        <a href="https://codeforscience.org">
          <img src="/img/css.png">
        </a>
      </div>
      <div class="column is-narrow">
        <a href="http://coko.foundation">
          <img src="/img/coko.jpg">
        </a>
      </div>
      <div class="column is-narrow">
        <a href="https://datproject.org">
          <img src="/img/dat.png">
        </a>
      </div>
      <div class="column is-narrow">
        <a href="https://elifesciences.org/">
          <img src="/img/elife.png">
        </a>
      </div>
      <div class="column is-narrow">
        <a href="http://substance.io">
          <img src="/img/substance.svg">
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
