{% extends "_base.html" %}
{% from "_download.html" import download %}
{% from "_heading.html" import heading %}

{% block main %}
<section id="section-1" class="section has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column">
                {{ heading(true, "An open source office suite for reproducible research.", small = "What is Stencila?") }}

                <div class="content">
                    <p>The calls for research to be transparent and reproducible have never been louder. But today's tools for reproducible research can be intimidating - especially if you're not a coder.</p>
                    <p><strong>Stencila</strong> makes reproducible research more accessible with intuitive word processor and spreadsheet interfaces that you and your colleagues are already used to.</p>

                    <p><strong><span class="icon"><i class="fa fa-flask"></i></span>
                        Stencila</strong> is an open source project under active development. 
                        We <span class="icon has-text-danger"><i class="fa fa-heart"></i></span> your <a href="/community/beta-testing.html">feedback</a> but please be patient
                        with bugs and instabilities!</p>
                </div>
            </div>
            <div class="column is-offset-1 has-text-centered">
                <img src="/img/icons/stencil-machine.svg">
            </div>
        </div>
    </div>
</section>

<!-- <section id="video" class="section has-background-primary">
    <div class="container">
        <header class="heading has-text-centered">
            <span class="small has-text-white">How does it work?</span>
            <h2 class="title has-line is-2 has-text-white">Stencila integrates your data into your documents and spreadsheets so you can access and share your research much more effectively.</h2>
        </header>

        <div class="content has-text-centered">
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EzrR96PDnO8?rel=0&wmode=transparent" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a class="button call-to-action is-white is-outlined is-rounded is-large has-text-hover-primary" href="#">Read more</a>
        </div>
    </div>
</section> -->

<section id="features" class="section has-background-white border-bottom-light">
    <div class="container">
        <header class="heading has-text-centered">
            <span class="small">What makes it different?</span>
            <h2 class="title has-line is-2 has-text-primary">Stencila comes with a bunch of <br>features that make it both flexible and powerful.</h2>
        </header>
        <div class="card-grid-container">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="card card--grid">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="img/icons/doctype-stencila.svg">
                            </figure>
                        </div>
                        <div class="card-content content">
                            <p class="title is-4">A word processor designed for research content</p>
                            <p>Create interactive, fully reproducible documents using a familiar visual authoring interface. Use code cells to produce figures based on data - no more copying and pasting static images and tables! Cite figures and
                                references, without having to worry about citation formatting.</p>
                            <hr class="is-small">
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card card--grid">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="img/icons/doctype-spreadsheet.svg">
                            </figure>
                        </div>
                        <div class="card-content content">
                            <p class="title is-4">Spreadsheets leveraging the power of open source languages</p>
                            <p>Leverage the power of data manipulation using languages like R, Python, and SQL from within Stencila Sheets. Use formulas to do calculations, create figures next to the data and reference them in the manuscript. In an
                                article you can reference data from a spreadsheet and vice versa. If you update the data in one place, all affected documents will update as well.</p>
                            <hr class="is-small">
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card card--grid">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="img/icons/software-hexagons.svg">
                            </figure>
                        </div>
                        <div class="card-content content">
                            <p class="title is-4">Reactive code evaluation in different languages</p>
                            <p>In Stencila code evaluates live as you type. Because the execution engine analyses the dependencies between cells, it can perform a minimal update, making computation fast and responsive. This mechanism works with all
                                available languages (e.g. R, Python, Javascript, SQL). You can even mix languages within a document.</p>
                            <hr class="is-small">
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third is-offset-2">
                    <div class="card card--grid">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="img/icons/stencil-multi-doc.svg">
                            </figure>
                        </div>
                        <div class="card-content content">
                            <p class="title is-4">Interoperability with existing tools and workflows</p>
                            <p>Stencila is developed not to replace existing tools, but to complement them. We are working with the communities of existing open source tools to improve interoperability. Stencila also aims to support file formats
                                commonly used by researchers for reproducibility such as Jupyter Notebooks, RMarkdown and more.</p>
                            <hr class="is-small">
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card card--grid">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="img/icons/dockerfile-increment.svg">
                            </figure>
                        </div>
                        <div class="card-content content">
                            <p class="title is-4">Reproducibility from authoring through to publishing</p>
                            <p>Stencila projects are self-contained archives of documents and assets. We are working with authors and publishers on formats which extend existing publishing standards - allowing your publications to embed code and
                                making the publication process faster.</p>
                            <hr class="is-small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section border-bottom-light has-background-primary">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <header class="heading">
                    <h3 class="title is-3 has-text-white">An open source office suite for reproducible research.</h3>
                </header>

                <div class="content is-flex flex-direction-column has-text-white">
                    <p>Leverage the power of data manipulation using languages like R, Python, and SQL from within Stencila Sheets. Use formulas to do calculations, create figures next to the data and reference them in the manuscript. In an article
                        you can reference data from a spreadsheet and vice versa. If you update the data in one place, all affected documents will update as well.</p>

                    <a href="/learn/intro.html" class="button is-outlined is-white is-rounded call-to-action">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section id="funders-partners" class="section">
    <div class="container">
        <header class="heading has-text-centered has-large-margin-bottom">
            <span class="small">Funders and Partners</span>
            <h2 class="title has-line is-2 has-text-primary">We wouldn’t be doing this without these visionary<br>and generous organisations</h2>
        </header>
        <div class="is-flex flex-justify-centre">
            <figure>
                <img src="/img/sloan.png">
            </figure>
        </div>

        <div class="columns logos">
            <div class="column is-flex align-centre has-text-left">
                <a href="https://codeforscience.org">
                    <img src="/img/css.png">
                </a>
            </div>
            <div class="column is-flex align-centre has-text-centered">
                <a href="http://coko.foundation">
                    <img src="/img/coko.jpg">
                </a>
            </div>
            <div class="column is-flex align-centre has-text-right">
                <a href="https://datproject.org">
                    <img src="/img/dat.png">
                </a>
            </div>
        </div>

        <div class="columns logos">
            <div class="column is-flex align-centre has-text-left">
                <a href="https://elifesciences.org/">
                    <img src="/img/elife.png">
                </a>
            </div>
            <div class="column is-flex align-centre has-text-centered">
                <a href="http://substance.io">
                    <img src="/img/substance.svg">
                </a>
            </div>
            <div class="column is-flex align-centre has-text-right">
                <a href="https://opensciencemooc.eu/">
                    <img src="/img/open-science-mooc-logo.png">
                </a>
            </div>
        </div>

    </div>
</section>

<!-- <section id="funders" class="section">
    <div class="container">
        <h1 class="title is-3 is-gray has-text-centered">Funders</h1>
        <figure class="is-flex is-horizontal-center">
            <img src="/img/sloan.png">
        </figure>
    </div>
</section>

<section id="partners" class="section">
    <div class="container">
        <h1 class="title is-3 is-gray has-text-centered">Partners</h1>
        <div class="columns is-multiline is-centered">
            <div class="column is-narrow">
                <a href="https://codeforscience.org">
                    <img src="/img/css.png">
                </a>
            </div>
            <div class="column is-narrow">
                <a href="http://coko.foundation">
                    <img src="/img/coko.jpg">
                </a>
            </div>
            <div class="column is-narrow">
                <a href="https://datproject.org">
                    <img src="/img/dat.png">
                </a>
            </div>
            <div class="column is-narrow">
                <a href="https://elifesciences.org/">
                    <img src="/img/elife.png">
                </a>
            </div>
            <div class="column is-narrow">
                <a href="http://substance.io">
                    <img src="/img/substance.svg">
                </a>
            </div>
            <div class="column is-narrow">
                <a href="https://opensciencemooc.eu/">
                    <img src="/img/open-science-mooc-logo.png">
                </a>
            </div>
        </div>
    </div>
</section> -->

{% endblock %}