{% extends "_base.html" %}

{% block title %}Jobs : Stencila{% endblock %}

{% block main %}
<section class="section">
    <div class="container" style="max-width: 50em;">
        <header class="heading">
            <span class="small has-text-primary">Work with us!</span>
            <h1 class="title has-line is-1 has-text-primary">Jobs</h1>
        </header>
        <style>
            .card {
                margin-bottom: 2em;
            }
        </style>       
        <article class="message is-info">
            <div class="message-header">
                <p>No open positions</p>
            </div>
            <div class="message-body">
                <div class=content">
                    <p>Sorry, we don't have any open positions right now. But send us an email to jobs@stenci.la and we'll get back to you as soon as we're hiring again.</p>
                    <p><em> We only use this list for careers emails and nothing else. No spam, no marketing campaigns, no cross-promotion, no anything else.</em></p>
                </div>
            </div>
        </article>
    <!-- An example of a card for a job description        
        <div class="card">
            <div class="card-content">
                <h1 class="title is-4"><a href="product-designer-2018-12.html">Product UX/UI designer</a></h1>
                <p>Full-time UX/UI designer to lead the design and testing of novel user interfaces for data exploration, visualization and analysis.</p>
            </div>
        </div>
    -->
    </div>
</section>
{% endblock %}
