{% extends "_base.html" %}

{% block title %}Jobs : Stencila{% endblock %}

{% block main %}
<section class="section">
    <div class="container" style="max-width: 50em;">
        <header class="heading">
            <span class="small has-text-primary">Work with us!</span>
            <h1 class="title has-line is-1 has-text-primary">Jobs</h1>
        </header>
        <style>
            .card {
                margin-bottom: 2em;
            }
        </style>
        <div class="card">
            <div class="card-content">
                <h1 class="title is-4"><a href="product-designer-2018-12.html">Product UX/UI designer</a></h1>
                <p>Full-time UX/UI designer to lead the design and testing of novel user interfaces for data exploration, visualization and analysis.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h1 class="title is-4"><a href="software-engineer-2018-12.html">Software Engineer (Frontend)</a></h1>
                <p>Full-time software engineer to lead development of novel user interfaces for data exploration, visualization and analysis.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
